<h1>Hola</h1>
<% @numbers.each do |number| %>
  <% if number % 2 == 0 %>
    <p><strong><%= "#{number} Soy Par!" %></strong></p><br/>
  <% else %>
    <p><strong><%= "#{number} Soy Impar!"%></strong></p><br/>
  <% end %>
<% end %>
